# Ignore all

*

# Add common

!components/
!components/**

!examples/
!examples/**

!learning/
!learning/**

!lib/
!lib/**

!style/
!style/**

!test-framework/
!test-framework/**

!utils/
!utils/**

!.gitignore
!jsconfig.json

# Add apps

!counters/
!counters/**

!greens/
!greens/**

!local-media-streamer/
!local-media-streamer/**

!notes/
!notes/**

!pomodoro/
!pomodoro/**

!root-timer/
!root-timer/**

!/index.html

# Ignore

node_modules/
README.md
