# Ignore all

*

# Add common

!components/
!components/**

!examples/
!examples/**

!learning/
!learning/**

!lib/
!lib/**

!style/
!style/**

!test-framework/
!test-framework/**

!utils/
!utils/**

!.gitignore

# Add apps

!counters/
!counters/**

!greens/
!greens/**

!notes/
!notes/**

!pomodoro/
!pomodoro/**

!root-timer/
!root-timer/**

!/index.html

# Ignore

README.md
